/.bundle
/db/*.sqlite3
/log/*.log
/tmp/
/scorm/
.sass-cache
/**/.DS_Store
*.swp
*~
.DS_Store
/cache/*
/config/private_pub.yml
/config/smtp.yml
/config/mongoid.yml
/coverage/*
/coverage/**/*
/doc/app
/hudson
/log/*
/out/*
/public/javascripts/ehnois.i18n.locales.js
/public/stylesheets/cache/*.css
/public/stylesheets/compiled/
/rerun.txt
/tmp/*
/tmp/**/*
/artia_notifier/log/*.log
/artia_notifier/log/pid/*.log
/artia_notifier/log/pid/*.pid
/db/schema.rb
/doc/diagrams/*
/*.mwb.bak
/doc/*
/vendor/plugins/rails_upgrade
.bundle
*.ignore
.bashrc
/Thiago Alexandre Klein
/public/.htaccess
\#*\#
/uploads
/public/uploads
#features que não devem ir para o CI
/features/*.local.feature
/features/step_definitions/*.local.rb
/services/*/log/*
/services/*/tmp/*
/services/pdf/models/*.pdf
/config/private_pub.yml
/config/ca-bundle.crt
/public/system/*
/public/assets
/public/certificates/*.pdf
/app/assets/stylesheets/tipsy.css
/app/assets/stylesheets/application/tipsy.css.sass
/app/assets/images/tipsy.gif
/app/assets/javascripts/i18n/translations.js
/public/sitemap*
/public/pdf
public/pdf
passenger.3000.log
passenger.3000.pid
passenger.3000.pid.lock
