.row.clearfix
	.complete
		= link_to "Mark As Complete", complete_project_task_path(@project, task.id), method: :patch
	.todo_item
		- if task.completed?
			%p{style: "opacity: 0.4;"}
				%strike
					= task.content
		- else
			%p
				= task.content
	.trash
		= link_to "Delete", project_task_path(@project, task.id), method: "delete", data: { confirm: "Are you sure?" }
	