.col.s12.m4
  .card
    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        = link_to project.title, project

      .project-mini-dashboard.grey-lighten-5
        3 ATV | 4 ENC | 20 HP

      %p
        = project.description
