<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="">
        <h6 class="white-text"> PlayTasks! Um software OpenSource de gerenciamento de atividades. </h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    <a class="grey-text text-lighten-4 right" href="https://github.com/andreleoni">Created by @andreleoni</a>
    </div>
  </div>
</footer>
