<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">PlayTasks!</a>
    <ul class="right">      
      <li> <%= link_to "Apontamentos", time_sheets_path %> </li>
      <li> <%= link_to "Novo Projeto", new_project_path %> </li>
   	</ul>
  </div>
</nav>
        